<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="consoleLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </logger>

    <appender name="appLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.log.%d{yyyy-MM}.gz</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="appLogAppender" />
    </root>

    <appender name="sshLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ssh.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ssh.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>0</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}\t%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AsyncSshLogAppender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="sshLogAppender"/>
    </appender>

    <logger name="sshLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="AsyncSshLogAppender"/>
    </logger>
</configuration>
